### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [3]:
players = purchase_data["SN"].unique()

In [69]:
player_count = pd.DataFrame({"Total Players": players}).count()
player_count

Total Players    576
dtype: int64

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
uni_items = len(purchase_data["Purchase ID"].unique())
average_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()
num_purchase = purchase_data["Purchase ID"].count()
summary_df = pd.DataFrame({'Number of Unique Items':[uni_items], 'Average Price':[average_price], 'Total Revenue':[total_revenue], 'Number of Purchases':[num_purchase]})
summary_df

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     780       3.050987        2379.77                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gen_dem = pd.DataFrame(["Total count"])
gen_SN = purchase_data.loc[:, {"Gender", "SN"}]
gen_total = gen_SN["Gender"].value_counts()
gender_percent = (gen_total / player_count)*100
gen_dem = pd.DataFrame({'Total Count': gen_total, 'Percentage of Players': gender_percent})
gen_dem["Percent of Players"] = gen_dem["Percentage of Players"].map('{:.2f}%'.format)
gen_dem

                       Total Count  Percentage of Players Percent of Players
Female                       113.0                    NaN               nan%
Male                         652.0                    NaN               nan%
Other / Non-Disclosed         15.0                    NaN               nan%
Total Players                  NaN                    NaN               nan%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
by_gen = purchase_data.set_index("Gender").groupby(["Gender"])

In [8]:
avg_price = by_gen['Price'].mean()
avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [9]:
purch_count = by_gen["Age"].count()
purch_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Age, dtype: int64

In [10]:
total_purch = by_gen["Price"].sum()
total_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [11]:
summary_df = pd.DataFrame({"Average Price":avg_price, "Purchase Count":purch_count,"Total Purchase Value":total_purch})
summary_df

                       Average Price  Purchase Count  Total Purchase Value
Gender
Female                      3.203009             113                361.94
Male                        3.017853             652               1967.64
Other / Non-Disclosed       3.346000              15                 50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.9, 10000]
age_bins

[0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 10000]

In [13]:
groups = ["<10", "10-14", "15-19", "20-24","25-29","30-34","35-39","40+"]
groups

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [14]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=groups)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [15]:
age_grouped = purchase_data.groupby("Age Group")

In [16]:
members = age_grouped["SN"].nunique()
members

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [17]:
player_percent = (members/player_count)*100
player_percent

10-14           NaN
15-19           NaN
20-24           NaN
25-29           NaN
30-34           NaN
35-39           NaN
40+             NaN
<10             NaN
Total Players   NaN
dtype: float64

In [18]:
age_demo = pd.DataFrame({"Total Count": members, "Percentage of Players": player_percent})
age_demo

               Total Count  Percentage of Players
10-14                 22.0                    NaN
15-19                107.0                    NaN
20-24                258.0                    NaN
25-29                 77.0                    NaN
30-34                 52.0                    NaN
35-39                 31.0                    NaN
40+                   12.0                    NaN
<10                   17.0                    NaN
Total Players          NaN                    NaN

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
purch_count = age_grouped["Age"].count()
purch_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [20]:
avg_price = age_grouped['Price'].mean()
avg_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [21]:
total_purch = age_grouped["Price"].sum()
total_purch

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [22]:
avg_purch_person = age_grouped["Price"].sum()/members
avg_purch_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [23]:
age_purch_analysis = pd.DataFrame({"Purchase count":purch_count, "Average Purchase Price":avg_price, "Total Purchase Value": total_purch,"Avg Total Purchase per Person":avg_purch_person})
age_purch_analysis

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
SN_grouped = purchase_data.groupby("SN")
SN_grouped

In [25]:
top_count = SN_grouped["Age"].count()
top_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Age, Length: 576, dtype: int64

In [26]:
top_average = SN_grouped["Price"].mean()
top_average

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [27]:
top_purchase_value = SN_grouped["Price"].sum()
top_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [28]:
top_spend = pd.DataFrame({"Purchase Count": top_count, "Average Purchase Price": top_average, "Total Purchase Value": top_purchase_value})
top_spend.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                2.280000                  2.28
Adastirin33                1                4.480000                  4.48
Aeda94                     1                4.910000                  4.91
Aela59                     1                4.320000                  4.32
Aelaria33                  1                1.790000                  1.79
Aelastirin39               2                3.645000                  7.29
Aelidru27                  1                1.090000                  1.09
Aelin32                    3                2.993333                  8.98
Aelly27                    2                3.395000                  6.79
Aellynun67                 1                3.740000                  3.74

In [29]:
top_spend = top_spend.sort_values("Total Purchase Value", ascending = False)
top_spend

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
pop_df = purchase_data.loc[:,("Purchase ID","Item Name","Price")]
pop_df

     Purchase ID                                  Item Name  Price
0              0  Extraction, Quickblade Of Trembling Hands   3.53
1              1                          Frenzied Scimitar   1.56
2              2                               Final Critic   4.88
3              3                                Blindscythe   3.27
4              4                                       Fury   1.44
..           ...                                        ...    ...
775          775                                       Wolf   3.54
776          776                           Exiled Doomblade   1.63
777          777      Celeste, Incarnation of the Corrupted   3.46
778          778                               Final Critic   4.19
779          779                                       Dawn   4.60

[780 rows x 3 columns]

In [63]:
pop_grouped = purchase_data.groupby(["Item ID", "Item Name"])
pop_grouped

In [64]:
pop_count = pop_grouped["Age"].count()
pop_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Age, Length: 179, dtype: int64

In [65]:
pop_avg = pop_grouped['Price'].mean()
pop_avg

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [66]:
pop_value_total = pop_grouped['Price'].sum()
pop_value_total

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [67]:
most_pop = pd.DataFrame({"Purchase Count": pop_count, "Item Price": pop_avg, "Total Purchase Value": pop_value_total})
most_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [68]:
most_pop = most_pop.sort_values("Purchase Count", ascending = False)
most_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
pop_grouped = purchase_data.groupby(["Item ID", "Item Name"])
pop_grouped

In [72]:
pop_count = pop_grouped["Age"].count()
pop_avg = pop_grouped['Price'].mean()
pop_value_total = pop_grouped['Price'].sum()

In [73]:
most_pop = pd.DataFrame({"Purchase Count": pop_count, "Item Price": pop_avg, "Total Purchase Value": pop_value_total})
most_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [74]:
most_pop = most_pop.sort_values("Total Purchase Value", ascending = False)
most_pop

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80